- name: Initialize control plane
  hosts: k8s_control_plane
  become: true
  tasks:
    - name: Initialize Kubernetes control plane (kubeadm init)
      command: kubeadm init --pod-network-cidr=192.168.0.0/16
      args:
        creates: /etc/kubernetes/admin.conf
      register: kubeadm_init

    - name: Create .kube directory for ubuntu user
      file:
        path: /home/ubuntu/.kube
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: "0755"

    - name: Copy admin kubeconfig to ubuntu user
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/ubuntu/.kube/config
        remote_src: true
        owner: ubuntu
        group: ubuntu
        mode: "0644"

    - name: Install Calico CNI
      become_user: ubuntu
      environment:
        KUBECONFIG: /home/ubuntu/.kube/config
      command: kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.27.3/manifests/calico.yaml

    - name: Get kubeadm join command
      command: kubeadm token create --print-join-command
      register: join_cmd

    - name: Save join command for later tasks
      set_fact:
        kube_join_command: "{{ join_cmd.stdout }}"

- name: Join worker nodes to cluster
  hosts: k8s_workers
  become: true
  tasks:
    - name: Join worker to the cluster
      command: "{{ hostvars[groups['k8s_control_plane'][0]].kube_join_command }} --v=5"
      args:
        creates: /etc/kubernetes/kubelet.conf
